/* global variables */
:root {
  --clr-primary: #3777aa;
  --clr-primary-light: #2284d3;
  --clr-white: #ffffff;
  --clr-white-light: #f0f0f0;
  --clr-shadow: #00000029;
  --clr-black: #333333;
  --clr-black-30: rgba(34, 32, 32, 0.3);
  --clr-black-80: #222020cc;
  --clr-black-90: #212020e6;
  --clr-pink-light: #fdf2f2;
  --clr-blue-light: #f2fdfb;

  --transition: all 0.3s linear;
  --box-shadow-light: 0px 3px 7px var(--clr-shadow);
  --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
  --font-family: Arial, Helvetica, sans-serif;
  --radius: 4px;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  outline-width: 2px;
  outline-offset: 1px;
  outline-color: var(--clr-primary);
}
body {
  color: var(--clr-black);
  background: var(--clr-white);
  font-family: var(--font-family);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

/* global classes */
.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.display-block {
  display: block !important;
}
.full-hide {
  display: none;
}
.text-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.section-title .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-primary);
}
.section-title .underline {
  width: 60px;
  height: 5px;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .full-width-mobile {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .full-width-desktop {
    width: 100%;
  }
}
.light-pink-background {
  background: var(--clr-pink-light);
}
.light-blue-background {
  background: var(--clr-blue-light);
}

/* buttons & inputs */
.button-primary-dark,
.button-primary-light {
  font-weight: bold;
  border: none;
  border: none;
  cursor: pointer;
  height: 45px;
  transition: var(--transition);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}
.button-primary-dark {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.button-primary-light {
  background: var(--clr-white);
  color: var(--clr-primary);
}
.button-primary-dark:hover {
  background: var(--clr-primary-light);
}
.button-primary-light:hover {
  background: var(--clr-white-light);
}
.primary-input,
.primary-textarea {
  height: 45px;
  font-size: 16px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: 1px solid var(--clr-shadow);
  background: var(--clr-white);
  letter-spacing: 1px;
  font-family: var(--font-family);
}
.primary-textarea {
  height: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: vertical;
}

@media screen and (min-width: 769px) {
  .button-primary-dark,
  .button-primary-light {
    height: 50px;
    min-width: 220px;
  }
  .primary-input {
    height: 50px;
  }
}

/* navbar styles */
.nav-container {
  background: var(--clr-black-90);
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-links-main {
  display: none;
}
.nav-container .nav-links-main {
  display: flex;
  justify-self: flex-end;
}
.nav-container .nav-links {
  display: flex;
  column-gap: 10px;
}
.nav-container .nav-link {
  font-size: 16px;
  color: var(--clr-white);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: var(--radius);
}
.nav-container .nav-link.active,
.nav-container .nav-link:hover {
  transition: var(--transition);
  background: var(--clr-white-light);
  color: var(--clr-black);
}
.nav-container .logo-section .logo {
  font-size: 30px;
  color: var(--clr-white);
}
@media screen and (min-width: 992px) {
  .nav-container {
    min-height: 70px;
  }
  .nav-container .nav-links {
    display: flex;
    column-gap: 30px;
  }
}

/* register page styles */
.register-container .register-form {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* Login page styles */
.login-container .login-form {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* master page styles */
.master-container .master-form {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.master-container .main-input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* padding classes */
@media screen and (max-width: 991px) {
  .paddingTopMobile-ten {
    padding-top: 10px !important;
  }
  .paddingTopMobile-twenty {
    padding-top: 20px !important;
  }
  .paddingTopMobile-thirty {
    padding-top: 30px !important;
  }
  .paddingTopMobile-forty {
    padding-top: 40px !important;
  }
  .paddingTopMobile-fifty {
    padding-top: 50px !important;
  }
  .paddingBottomMobile-ten {
    padding-bottom: 10px !important;
  }
  .paddingBottomMobile-twenty {
    padding-bottom: 20px !important;
  }
  .paddingBottomMobile-thirty {
    padding-bottom: 30px !important;
  }
  .paddingBottomMobile-forty {
    padding-bottom: 40px !important;
  }
  .paddingBottomMobile-fifty {
    padding-bottom: 50px !important;
  }
}
@media screen and (min-width: 992px) {
  .paddingTopDesktop-ten {
    padding-top: 10px !important;
  }
  .paddingTopDesktop-twenty {
    padding-top: 20px !important;
  }
  .paddingTopDesktop-thirty {
    padding-top: 30px !important;
  }
  .paddingTopDesktop-forty {
    padding-top: 40px !important;
  }
  .paddingTopDesktop-fifty {
    padding-top: 50px !important;
  }
  .paddingTopDesktop-sixty {
    padding-top: 60px !important;
  }
  .paddingTopDesktop-seventy {
    padding-top: 70px !important;
  }
  .paddingTopDesktop-eighty {
    padding-top: 80px !important;
  }
  .paddingTopDesktop-ninety {
    padding-top: 90px !important;
  }
  .paddingTopDesktop-hundred {
    padding-top: 100px !important;
  }
  .paddingBottomDesktop-ten {
    padding-bottom: 10px !important;
  }
  .paddingBottomDesktop-twenty {
    padding-bottom: 20px !important;
  }
  .paddingBottomDesktop-thirty {
    padding-bottom: 30px !important;
  }
  .paddingBottomDesktop-forty {
    padding-bottom: 40px !important;
  }
  .paddingBottomDesktop-fifty {
    padding-bottom: 50px !important;
  }
  .paddingBottomDesktop-sixty {
    padding-bottom: 60px !important;
  }
  .paddingBottomDesktop-seventy {
    padding-bottom: 70px !important;
  }
  .paddingBottomDesktop-eighty {
    padding-bottom: 80px !important;
  }
  .paddingBottomDesktop-ninety {
    padding-bottom: 90px !important;
  }
  .paddingBottomDesktop-hundred {
    padding-bottom: 100px !important;
  }
}
